.loginForm{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 60px);
}
.loginForm h1{
    font-size:60px;
    margin:20px;
}

.loginForm p{
    font-size:20px;
    width:600px;
    text-align:center;
}

.loginForm input{
    color:black;

}

.loginForm button{
    color:green;
    
}
