.registerForm{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 60px);
}
.registerForm h1{
    font-size:60px;
    margin:20px;
}

.registerForm p{
    font-size:20px;
    width:600px;
    text-align:center;
}

.registerForm input{
    color:black;
    margin: 10px;

}
