.central_text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:calc(100vh - 60px);
    
}

.central_text h1{
    font-size:60px;
    margin:10px;
}

.central_text p{
    font-size:20px;
    width:600px;
    text-align:center;
}

.buttons{
    display:flex;
    gap:20px;
}

.buttons a{
    padding:12px 28px;
    background-color:#2c2c2c;
    display:inline-block;
    text-decoration:none;
}
.buttons a:hover{
    background-color:#222;

}